/* 不可視のチェックボックスにチェックが入っているときだけ、直後の要素が表示される */
.flag {
    display: none;
}

.flag:not(:checked)+* {
    display: none;
}

body {
    position: relative;
    width: max-content;
}

table {
    height: 100%;
}

header {
    width: calc(100vw - 20px);
    position: sticky;
    left: 0;
    z-index: 999;
}

thead {
    position: sticky;
    top: 0;
    z-index: 99;
}

thead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid var(--bs-table-border-color);
    background: var(--bs-table-border-color);
    z-index: -1;
}

thead>tr:first-child {
    border-bottom: none;
}

thead>tr:last-child {
    border-top: none;
}

th,
td {
    width: max-content;
    max-width: 300px;
    overflow-x: auto;
}

th>*,
td>* {
    min-width: max-content;
    max-width: none;
}

th.form,
td.form {
    box-sizing: border-box;
    padding: 8px 5px 8px 5px;
    width: 0;
    position: relative;
}

th.form>input,
th.form>select,
td.form>input,
td.form>select {
    display: block;
    width: 100%;
    min-width: 100px;
    background: #111;
    border: none;
    padding: 0.375rem 0.5rem;
    box-sizing: border-box;
}

.check_outer {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.check_outer>input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

footer {
    width: calc(100vw - 20px);
    position: sticky;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.my_pagination {
    pointer-events: all;
    padding: 5px;
    width: max-content;
    box-sizing: border-box;
    margin: 0 auto;
    background: #333;
}