body {
    background: #f0f0f0;
}

/* 画面最上部の検索ボックス */
.search_box {
    background: none;
}

.search_box::placeholder {
    color: #fff;
}

/* パンくずリスト */
.breadcrumb-item {
    cursor: pointer;
}


/* 横線 */
hr {
    margin: 50px 0;
}

/* 不可視のチェックボックスにチェックが入っているときだけ、直後の要素が表示される */
.flag {
    display: none;
}

.flag:not(:checked)+* {
    display: none;
}


/* カード */
.card {
    margin: 20px 0;
}


/* カードの左上のID */
.id_box {
    padding: 3px 0 0 5px;
    font-size: 12px;
    color: #555;
}

.id_box>input {
    background: none;
    border: none;
    width: 70px;
}

.tile,
.tile_dimple,
.tile_empty,
.tile_add {
    max-width: calc((100vw - 75px) / 3);
    max-height: calc((100vw - 75px) / 3);
    width: 130px;
    height: 130px;
    border-radius: 15px;
    margin: 10px 5px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.tile_empty {
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}

.tile_add {
    height: max-content;
    max-height: none;
}

.tile_add:hover {
    background: #fafafa;
}

/* 凹み
.tile_dimple {
    color: #999;
    font-weight: bold;
    background: #ffffff;
    box-shadow: inset 7px 7px 20px #dedede,
        inset -7px -7px 20px #ffffff;
} */


.tile {
    border: solid #eee 2px;
    background: #fafafa;
    box-shadow: 9px 9px 40px -31px rgba(0, 0, 0, 0.5);
}

.tile:hover {
    background: #fff;
    border-color: #f5f5f5;
}


/* タブ */

.nav-tabs a.nav-link.active {
    background: #fafafa;
}

.tab-pane {
    background: #fafafa;
    padding: 10px;
    min-height: 70vh;
}