.table {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.scroll_y {
    max-height: 400px;
    overflow-y: auto;
    border: solid 1px #aaa;
}

thead {
    position: sticky;
    top: -1px;
}

th[scope="row"] {
    text-align: right;
    min-width: 100px;
}

pre {
    margin: 5px;
    background: #555;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}