.table {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}

thead {
    position: sticky;
    top: -1px;
}

th[scope="col"] {
    background: #222;
}

th[scope="row"] {
    text-align: right;
    min-width: 100px;
}

.scroll_y {
    max-height: 400px;
    overflow-y: auto;
    border: solid 1px #555;
}

pre {
    margin: 5px;
    background: #555;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    overflow-x: auto;
}

@media print {
    body {
        background: none;
    }

    .table {
        border: solid 1px #000;
    }

    thead {
        position: relative;
        top: 0;
    }

    .scroll_y {
        max-height: none;
        overflow-y: visible;
    }

    pre {
        background: #fafafa;
        color: #000;
    }
}