/* 不可視のチェックボックスにチェックが入っているときだけ、直後の要素が表示される */
.flag+* {
    display: none;
}

.flag:checked+* {
    display: block;
}

/* クリックできるカード */

.clickable {
    background: #333;
    cursor: pointer;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.clickable:hover {
    background: #444;
}

/* テーブル名を表示するinput要素 */
.card-title>input {
    font-weight: bold;
}

main {
    overflow-x: scroll;
}

.flexOuter {
    display: flex;
}

.flexOuter>div {
    display: flex;
}