html {
    background: none;
    max-height: 1500px;
    overflow: hidden;
}

body {
    background: none;
    max-height: 1500px;
    overflow: hidden;
}


/* 不可視のチェックボックスにチェックが入っているときだけ、直後の要素が表示される */
.flag {
    display: none;
}

.flag:not(:checked)+* {
    display: none;
}
