html {
    background: none;
    max-height: 1500px;
    overflow: hidden;
}

body {
    background: none;
    max-height: 1500px;
    overflow: hidden;
}


/* 不可視のチェックボックスにチェックが入っているときだけ、直後の要素が表示される */
.flag {
    display: none;
}

.flag:not(:checked)+* {
    display: none;
}

/* テーブルのスタイル */

.table {
    --bs-table-bg: #fafafa;
}


thead {
    position: sticky;
    top: 0;
    z-index: 99;
}

thead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid var(--bs-table-border-color);
    background: var(--bs-table-border-color);
    z-index: -1;
}

thead>tr:first-child {
    border-bottom: none;
}

thead>tr:last-child {
    border-top: none;
}

td {
    width: max-content;
    max-width: 300px;
    overflow-x: auto;
}

th {
    width: max-content;
    overflow-x: hidden;
}

th>*,
td>* {
    min-width: max-content;
    max-width: none;
}

th.form,
td.form {
    box-sizing: border-box;
    padding: 8px 5px 8px 5px;
    width: 0;
    position: relative;
}

th.form>input,
th.form>select,
td.form>input,
td.form>select {
    display: block;
    width: 100%;
    min-width: 100px;
    border: none;
    padding: 0.375rem 0.5rem;
    box-sizing: border-box;
}



th.form>.input-group,
td.form>.input-group {
    width: 100%;
    min-width: 100px;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.dummy_th {
    visibility: hidden;
    height: 0;
    min-height: 0;
    padding: 0 60px;
    overflow: hidden;
}